<!DOCTYPE html>
<html> 
  <head>
  <link rel="stylesheet" href="/style.css">
</head>
  <body>
    <h1 class="creamText">Loan Records</h1>
    <a class="link" href="#createLoan">Jump To Create a Loan</a>
   {{#each loanRecordsList}}
        <div class="displaySection">
            <p>Book ID: {{this.bookId}}</p>
            <p>Reader ID: {{this.readerId}}</p>
            <form method="POST" action="../deleteLoanRecord">
              <input type="hidden" name="id" value="{{this.id}}">
              <input type="hidden" name="bookId" value="{{this.bookId}}">
              <input type="hidden" name="readerId" value="{{this.readerId}}">
              <button type="submit">Return Book</button>
            </form>
        </div>
    {{/each}}
    <div class="displaySection">
    <h2><a id="createLoan">Create Loan:</a></h2>
    <form method="POST" action="../createLoanRecord">
      <div class="flexBox">
        <select name="bookId">
            <option selected>Choose Book</option>
            {{#each bookList}}
                <option value="{{this.id}}">{{this.title}}</option>
            {{/each}}
        </select>
        <select name="readerId">
            <option selected>Choose Member</option>
            {{#each readerList}}
                <option value="{{this.id}}">{{this.name}}</option>
            {{/each}}
        </select>
      </div>
      <button type="submit">Loan Book</button>
    </form> 
    </div>

  </body>
</html>