<!DOCTYPE html>
<html> 
  <head>
  <link rel="stylesheet" href="/style.css">
  <script src="/static.js"></script>
</head>
  <body>
    <h1 class="creamText">Library Members Page</h1>
    <a class="link" href="#addReader">Jump To Add Member</a>
   {{#each readers}}
        <div class="displaySection">
            <p>Name : {{this.name}}</p>
            <p>Email : {{this.email}}</p>
            <div class="flexContainer">
              <div class="flexChild">
                <form method="GET" action="../getLoanRecords">
                  <input type="hidden" name="readerId" value="{{this.id}}">
                  <button value="submit" type="submit">See Member's Loan Record</button>
                </form>
              </div>
              <div class="flexChild">
                <form method="POST" action="../deleteReaders">
                  <input type="hidden" name="readerId" value="{{this.id}}">
                  <button value="submit" type="submit">Delete Member</button>
                </form>
              </div>
              <div class="flexChild">
                <button type="button" onclick="showUpdateSection({{this.id}})">Update Member</button>
              </div>
            </div>
            <div id="updateSection{{this.id}}">
              <form method="POST" action="../updateReader">
              <input type="hidden" name="readerId" value="{{this.id}}">
              <input id="memberName" type="text" name="name" value="{{this.name}}">
              <input id="memberEmail" type="text" name="email" value="{{this.email}}"><br>
                <button value="submit" type="submit">Update Member</button>
              </form>
            </div>
        </div>
    {{/each}}
      <div class="displaySection">
        <h2><a id="addReader">Add Member:</a></h2>
        <form method="POST" action="../createReader">
          <label for="name">First name:</label><br>
          <input type="text" id="name" name="name"><br>
          <label for="email">Email:</label><br>
          <input type="text" id="email" name="email"><br><br>
          <button type="submit" value="Submit">Add Reader</button>
        </form> 
      </div>
      <script src="/static.js"></script>
    </body

 
 
</html>